
{% extends 'base.html'%}

{% block nav_activo %}
	<li class="active" > <a href="/"> Gastos del mes </a></li>
	<li> <a href="/lista">Lista de Compras</a></li>
	<li> <a href="/compras"> Compras</a></li>
	<li > <a href="/productos">Productos</a></li>


{% endblock%}

{% block section%}
<form action="" method="post">{% csrf_token %}
    <h4><strong>Seguro a eliminar "{{ object.descripcion }}"? </strong></h4>
    <input class="btn btn-danger" type="submit" value="Confirmar" />
    <a href="{% url "expense-list"%}" class="btn btn-success">Cancelar</a>
</form>

{% endblock%}