<!DOCTYPE HTML>
<HTML lang='es'>
	<head>
		<meta name='viewport' content = 'width=device-width, initial-scale=1.0'/>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css" >
		<!-- Optional theme -->
		<link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.css" >
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" ></script>
		<title>Administrador de gastos</title>
	</head>
	<body style='background:#EEE;' role="document">
			<nav class="navbar navbar-default">
  				<div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="#">Expenses Manager</a>
				    </div>

				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				      	 {% block nav_activo %}{%endblock%}
				      </ul>
				        
				    </div>
  				</div>
			</nav>










			<div class="container" >
				{%block section%}{%endblock%}
			</div>
	</body>
</HTML>
		   
        




			

											

							

		
		
		
	

